<div class="bodywrap">
  <div class="body">

  <h1>Edit Prompt</h1>

  <%= form_for @prompt do |f| %>
   <p>
     <%= f.label :name %>
     <%= f.text_field :name %>
     </p>
   <p>
     <%= f.label :user_id %>
     <%= f.number_field :user_id %>
     </p>    


    <%= f.submit 'Update prompt' %>
  <% end %>
  </div>
</div>