<h1>Prompts#index</h1>
<p>Find me in app/views/prompts/index.html.erb</p>

<a href="prompts/new"> Create new Prompt</a>

<p>List of all prompts and thier ids</p>
   <% @prompts.each do |prompt| %>

    <li> <%= link_to(prompt.name, prompt_path(prompt.id)) %> | Prompt Id: <%= prompt.id %>  | User Id: <%= prompt.user_id %> </li>
  <li> <%= link_to('Delete', prompt_path(prompt.id), method: :delete) %></li>
   <li><%= link_to('Edit', edit_prompt_path(prompt.id)) %> </li>
  </ul>



    <br>
   <% end %>