
<div class ="bodywrap">
 
  

  <div class="body">

    

   ------

   <% if user_signed_in? %>

      <% if current_user.teacher? %>

      <div class ="createnew">
      <a href="prompts/new"> Create new Prompt</a>
    </div>

     <p>List of all prompts and their ids</p>
     <% @prompts.each do |prompt| %>
      <ul>
        <li> <%= link_to(prompt.name, prompt_path(prompt.id)) %> 

        <!-- | Prompt Id: <%= prompt.id %>  | User Id: <%= prompt.user_id %>  -->
        -
        <%= link_to('Delete', prompt_path(prompt.id), method: :delete) %> | 
        <%= link_to('Edit', edit_prompt_path(prompt.id)) %> 
      </ul>
     <% end %>
       

      <% elsif current_user.student? %>

      Should show a list of your responses here.
        

      
      <% end %>
    <% end %>

   </div>
   
</div>

     <h1>THIS IS AN ADMIN PAGE FOR TEACHERS</h1>

