<div class="bodywrap">
  <div class="body">
  <h1>Create new Prompt</h1>

  <%= form_for @prompt do |f| %>

   <%= f.label :name %>
   <%= f.text_field :name %>

   <%= f.hidden_field :user_id, :value => current_user.id %>

    <%= f.submit 'Create Prompt' %>
  <% end %>
  </div>
</div>