<div class="bodywrap">
  <div class="body">
    <h1>View Prompt</h1>

     <h2><%= @prompt.name %> </h2>
    <p>Prompt Creator: <%= @prompt.user.name %>  </p>
    <%= link_to 'New response', new_prompt_response_path(@prompt) %>
    
    
    <% if current_user.teacher? %>
    <p>
      <ul>
        <li> <%= link_to('Edit', edit_prompt_path(@prompt.id)) %> </li>
        <li> <%= link_to('Delete', prompt_path(@prompt.id), method: :delete) %></li>  
        </ul>
      </p>
      -------------
    <h1>Responses: <%= @prompt.responses.count %> </h1>

    <h3>Users who have responded:</h3>
    <ul>
      <% @prompt.responses.each do | response | %>
        <li><%= response.user.try(:name) %> </li>
      <% end %>
    </ul>

    <h3>Response summary:</h3>

    <% groupcount = @prompt.responses.group(:content).count %>
    <% groupcount.each do |response| %>
     <li><%= response %></li>
      <% end %>
      <!-- ABOVE ONE ACTUALLY WORKS -->


    <ul>
      <% @prompt.response_counts.each do |response, count| %>
        <li><%= response.content %> - <%= count %></li>


      <% end %>
    </ul>

    <h3>Responses by User:</h3>
    <ul>
      <% @prompt.responses.each do |response| %>
        <li><%= response.user.name %> - <%= response.content %></li>
      <% end %>
    </ul>

    <% end %>

  </div>
</div>