<div class='bodywrap'>
  

  <div class='body'>
  
    <% if user_signed_in? %>

      <p> Welcome.</p>

      <% if current_user.teacher? %>

        <p>These are your prompts:</p>
        
        <ul>
        <% current_user.prompts.each do |prompt| %>
          <li><%= prompt.id %> | <%= prompt.name %> 

          <%= prompt.responses.count %>
          


          <%= link_to('Delete', prompt_path(prompt.id), method: :delete) %> | 
          <%= link_to('Edit', edit_prompt_path(prompt.id)) %> 
          </li>
        <% end %>
        </ul>



      <% elsif current_user.student? %>
        
        <p>These are your recent responses </p>

        <% current_user.responses.each do |response| %>
          <li> 
          <strong>Prompt name:</strong> <%= Prompt.find(response.prompt_id).name %> <br>
          <strong>Response: </strong><%= response.content  %> 
          </li>
          -----
          <br>
        <% end %>



      <% end %>

    <% end %>
</div>
</div>