<div class='bodywrap'>
  

  <div class='body'>
  
    <% if user_signed_in? %>

      <p> Welcome.</p>

      <% if current_user.teacher? %>

        <p>
        <%= link_to image_tag("new.png")+"Create a new Prompt", 'prompts/new', :class=>"home-icon" %>
        </p>
        <p>
        <%= link_to image_tag("list.png")+"View All Prompts", 'prompts', :class=>"home-icon" %>
        </p>
        <p>
        <%= link_to image_tag("users.png")+"View All Users", 'users/admin', :class=>"home-icon" %>
        </p>

        <p>These are your prompts:</p>
        
        <ul>
        <% current_user.prompts.each do |prompt| %>
          <li><%= prompt.id %> | <%= prompt.name %> 

          <%= prompt.responses.count %>
          
          <%= link_to image_tag("edit.png") +"Edit", edit_prompt_path(prompt.id), :class=>"small-icon", method: :delete %> 

          <%= link_to image_tag("delete.png") +"Delete", prompt_path(prompt.id), :class=>"small-icon", method: :delete %> 


    
         
          </li>
        <% end %>
        </ul>



      <% elsif current_user.student? %>
        
        <p>These are your recent responses </p>

        <% current_user.responses.each do |response| %>
          <li> 
          <strong>Prompt name:</strong> <%= Prompt.find(response.prompt_id).name %> <br>
          <strong>Response: </strong><%= response.content  %> 
          </li>
          -----
          <br>
        <% end %>



      <% end %>

    <% end %>
</div>
</div>