<h1>Responses#show</h1>
<p>Find me in app/views/responses/show.html.erb</p>

Response id: 
<%= @response.id %> <br>
Response user id:
<%= @response.user_id %>  <br>
Prompt id:
<%= @response.prompt_id %>

  <ul>
<li> <%= link_to('Edit', edit_prompt_response_path(@prompt.id, @response.id)) %> </li>
<li> <%= link_to('Delete', prompt_response_path(@prompt.id, @response.id), method: :delete) %></li>
   
  </ul>