<!DOCTYPE html>
<html>
<head>
  <title>WdiProjectApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<p class="admin-navbar">

<% if user_signed_in? %>

<% if current_user.teacher? %>
  <p>Welcome <%= current_user.name %> You are a Teacher </p>
  <ul class = 'adminlinks'>
    <li><a href="/users">List all Users</li></a>
    <li><a href="/prompts">Administer Prompts</li></a>
    <li><a href="/responses">View Responses</li></a>
  </ul>



<% elsif current_user.student? %>
  <p>Welcome <%= current_user.name %> You are a Student </p>
  <ul class = 'studentlinks'>
    <li><a href="/prompts">Respond to Prompt</li></a>
    <li><a href="/responses">View Response History</li></a>
  </ul>

<% end %>
<% end %>

<%= yield %>

</body>
</html>
